# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# Logs
*.log

# NuGet Packages
*.nupkg
packages/

# Temporary files
*.tmp
*.temp

# Other
*.DS_Store
Thumbs.db